- extends "layouts/application.haml"

- block content
  .home
    .content
      .container
        .row
          .col-md-12
            %h5.statbanner
              Thank you for scheduling your races with iScheduler!
            %h5.statbanner
              Your sessions should appear soon on <a href="https://members.iracing.com/membersite/member/LeagueSessions.do">iRacing</a>
            %br
            %br
            %p.footnote
              Please use the links at the top of the page if you wish to schedule more sessions.
            %p.footnote
              Do not use your browser's back button.
     