- load common_helpers
- server_env as environment
- if environment == "development"
  .style_guide
    .blue-background
    .indigo-background
    .purple-background
    .pink-background
    .red-background
    .orange-background
    .yellow-background
    .green-background
    .teal-background
    .cyan-background
    .white-background
    .gray-light-background
    .gray-background
    .gray-dark-background
    .black-background
    .primary-dark-background
    .primary-medium-background
    .primary-light-background
    .primary-faint-background
